.navbar-default {
  background-color: #74279e;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
  font-family: georgia, sans-serif;
  border: solid #FFF 2px;
  border-radius: 10px;
  font-size: 26px;
}

.navbar-default .navbar-brand:hover {
  color : #ededed;
  background-color: #4b1c7a;
}

.navbar-default .navbar-brand:visited {
  color : #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.navbar-default .navbar-toggle {
  border: solid #FFF 2px;
}

.navbar-default .navbar-toggle:hover {
  background-color: #4b1c7a;
  color : #ededed;
}

.navbar-default .navbar-toggle:focus {
  background-color: #4b1c7a;
  color : #ededed;
}

.navbar-default .nav > li > a{
  font-family: georgia, sans-serif;
  color: #FFF;
  font-weight: bold;
  }

.navbar-default .nav > li > a:hover {
    background-color: #4b1c7a;
    color: #ededed;
  }

.navbar-default .nav > li > a:visited {
    color: #FFF;
  }

.navbar-default .nav > li > a:active {

  }
