body {
  background-color: #3d4147;
}

.navbar{
  margin-bottom: 0;
}

.navbar-default {
  background-color: #74279e;
  border: solid 2px #000;
  color: #FFFFFF;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
  font-family: georgia, sans-serif;
  border: solid #FFF 2px;
  border-radius: 10px;
  font-size: 26px;
}

.navbar-default .navbar-brand:hover {
  color : #ededed;
  background-color: rgb(80,13,99);
}

.navbar-default .navbar-brand:visited {
  color : #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.navbar-default .navbar-toggle {
  border: solid #FFF 2px;
}

.navbar-default .navbar-toggle:hover {
  background-color: rgb(80,13,99);
  color : #ededed;
}

.navbar-default .navbar-toggle:focus {
  background-color: rgb(80,13,99);
  color : #ededed;
}

.navbar-default .nav > li > a{
  font-family: georgia, sans-serif;
  color: #FFF;
  font-weight: bold;
  }

.navbar-default .nav > li > a:hover {
    background-color: rgb(80,13,99);
    color: #ededed;
  }

.navbar-default .nav > li > a:visited {
    color: #FFF;
  }

.navbar-default .nav > li > a:active {

  }

.icon-next {
  background-color: #fff;
  color: black;
  border: solid 2px black;
  border-radius: 100px;
  padding-bottom: 35px;
}

.icon-prev {
  background-color: #fff;
  color: black;
  border: solid 2px black;
  border-radius: 100px;
  padding-bottom: 35px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}

.item:hover > img{
  opacity: 0.2;
}


.bg-purple{
  background-color: #74279e;
}

.white-georgia{
  color: #FFFFFF;
  font-family:Georgia;
}

.headshot {
  padding: 15px 15px 0px 15px;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}


.underlined_text{
      border-bottom: solid 4px #FFF;
      padding-bottom: 3px;
      display: inline-block;
      text-align: center;
      margin: 30px;
}

.underlined_text_orange{
      border-bottom: solid 4px #f4a600;
      padding-bottom: 3px;
      display: inline-block;
      text-align: center;
      margin: 30px;
}

.sub-header {
  font-weight: bold;
  margin: 20px auto;
}

.orange-text{
  color: #f4a600;
  font-weight: bold;
  font-family: Georgia, serif;
}

.bg-white {
  background-color: #FFF;
  border: solid 2px #000;
}

.grey-text{
  color:#b3b3b3;
  font-family: Georgia, serif;
  font-size: 18px;
  padding-left: 20%;
  padding-right: 20%
}

.centered-list{
font-size: 16px;
font-family: georgia, sans-serif;
color: #b3b3b3;
list-style-type: none;
padding-right: 40px;
}

ul.centered-list > li {
  padding-bottom: 10px;
}

.icon{
color: #000;
font-weight: bold;
background-color: #fff;
border-radius: 60px;
font-size: 100px;
padding:20px;

}

.push-down{
  padding-top: 100px;
}

.fa-icons{
  font-size: 200%;
}

.img-resize{
  max-width: 100%;
  max-height:100%;
  min-width: 50%;
  min-height: 50%;
}

.bot-spacer {
  padding-bottom: 15px;
}

.title-padder {
  padding: 20px 0px;
}
.my_panel{
  margin-top: 50px;
  border: solid 2px #000;
}
.panel-body{
  background-color: rgb(154, 154, 154);
}
.panel-body > img{
  border: 1px solid #FFF
}

.panel-footer{
  background-color: #74279e;
}
.padder-15-left {
  padding-left: 15%;
}

p#p-a > a {
  color:  #f4a600;
  font-weight: bold;
  font-family: sans-serif;
}

p#p-a > a:hover {
  color:  #f4a600;
  text-decoration: none;
font-weight: bold;
}

p#p-a2 > a {
  color:  #f4a600;
  font-weight: bold;
  font-family: sans-serif;
}

p#p-a2 > a:hover {
  color:  #f4a600;
  text-decoration: none;
font-weight: bold;
}

.foot{
  background-color: #000;
  font-family: Georgia, sans-serif;
  color:#FFF;
}

.gradient{
background: #8a3ab9;
background: -webkit-linear-gradient(right top,#8a3ab9, #bc2a8d, #cd486b, #e95950, #fbad50, #fccc63);
background: -o-linear-gradient(right top,#8a3ab9, #bc2a8d, #cd486b, #e95950, #fbad50, #fccc63);
background: -moz-linear-gradient(right top,#8a3ab9, #bc2a8d, #cd486b, #e95950, #fbad50, #fccc63);
  background: linear-gradient(right top,#8a3ab9, #bc2a8d, #cd486b, #e95950, #fbad50, #fccc63);
  border-radius: 20%;
font-size: 14px;
}

ul.footer-nav > li > a{
  font-family: Georgia , sans-serif;
  color: #FFF;
}

.footer-nav{
  list-style-type: none;
}

.navbar-default .nav > li.active > a{
  background-color: rgb(80,13,99);
}

/*.navbar-default .nav > li.active > a:focus{
  background-color: rgb(143, 36, 135);
}*/

.navbar-default .nav > li.active > a:hover{
  background-color: rgb(80,13,99);
  color:#fff;
}

.navbar-default .nav > li.active > a:visited{
  background-color: rgb(80,13,99);
  color:#fff;
}

#About, #Gallery{
  padding-top: 30px;
}

/* My attempt at CSS3 animations*/

.enlarge{
-webkit-transform: scale(2);
-ms-transform: scale(2);
transform: scale(2);
z-index: 1;
}
